# Entornos virtuales
venv/
env/
*.env
.python-version

# Archivos de Python
__pycache__/
*.pyc
*.pyd
*.pyo
*.egg-info/
.pytest_cache/
.ipynb_checkpoints/

# Base de datos de Django (SQLite en desarrollo)
db.sqlite3

# Archivos de Media y Static (si los usas)
/media/
/static_root/
/staticfiles/

# Archivos de configuración con credenciales o sensibles
# Por ejemplo, si tienes un archivo llamado 'local_settings.py'
# que contiene tus claves secretas o credenciales de base de datos.
# Si usas variables de entorno, asegúrate de que el archivo que las contiene
# (ej. .env) también esté listado.
local_settings.py
.env

# Archivos de IDEs (ej. VS Code, PyCharm)
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Archivos de logs
*.log
logs/

# Reportes de cobertura de código
.coverage
.coverage.*
htmlcov/
.tox/

# Archivos de instalación
dist/
build/
*.egg
*.manifest
*.spec


